
@{
    ViewData["Title"] = "CreateNew";
}
@section css {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" />
}

<section class="get-in-touch">
    <h1 class="newUser">Creat A New User</h1>
    <div class="card card3">
        <form class="contact-form row">
            <div class="form-field col-lg-6">
                <input id="name" class="input-text js-input" type="text" required>
                <label class="label" for="name">First Name</label>
            </div>
            <div class="form-field col-lg-6">
                <input id="name" class="input-text js-input" type="text" required>
                <label class="label" for="name">Last Name</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="email" class="input-text js-input" type="email" required>
                <label class="label" for="email">E-mail</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="password" class="input-text js-input" type="password" required>
                <label class="label" for="password">Password</label>
            </div>
            <div class="btn2">
                <input class="btn btn-white ml-2" type="submit" value="Submit" asp-controller="Home" asp-action="ThankYou">
            </div>
        </form>
    </div>
</section>


