
@{
    ViewData["Title"] = "ThankYou";
}
    <section class="get-in-touch">
        <h1 class="title">Thank You</h1>
        <hr />
        <h3>Your request will be processed shortly, you should hear back from us with in 48 hours. Please be aweare that we only have limited housing available and may need to house you with another individual if you are not registered with others.</h3>
        <br />
        <p>Not all request will be granted. Camp Chetek reserve the right to deny any request.</p>
        
        <a class="thisButton" href="/">Request Another Date</a>
        <a class="thisButton" href="http://www.campchetek.org/">Home</a>
            
    </section>