<head>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/Sidebar.css" />
    </environment>
    </head>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
